body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Outfit";
  box-sizing: border-box;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 150px;
  padding: 15px;
  border-radius: 10px;
}

.qr-code-image {
  height: 150px;
  width: auto;
  border-radius: 5px;
}

.bold-text {
  color: var(--color-slate-900, #1f314f);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-size: var(--font-size-text-preset-1, 13px);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
}

.light-text {
  align-self: stretch;
  color: var(--color-slate-500, #68778d);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-size: var(--font-size-text-preset-2, 8.5px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
  letter-spacing: 0.2px;
}

@media (max-width: 450px) {
  .container {
    max-width: 300px;
    border-radius: 15px;
  }

  .qr-code-image {
    height: 300px;
    width: auto;
    border-radius: 10px;
  }

  .bold-text {
    font-size: 20px;
  }

  .light-text {
    font-size: 17px;
  }
}
